<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-3 titulo" href="/">
       <img src="{{ url_for('static', filename='img/calendario1.png') }}" width="40" height="40"> GESTION DE EVENTOS
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
             <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/iniciarSesion">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/registrarse">Registrarse</a>
          </li>
       </ul>
    </div>
 </nav>