<!DOCTYPE html>
<html lang="es">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">      
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">      
      <link href="{{ url_for('static', filename='vistaPrincipal/css/titulos.css') }}" rel="stylesheet" type="text/css" id="dark-style" />      
      <!-- App favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/icono.png') }}">
      <title>Inicio</title>
   </head>

   <body>
      {% include 'barraNavegacion.html' %}
      <header class="container mt-3">
         <h1>
            Gestion de horarios
            <small class="text-muted"></small>
         </h1>
      </header>
      <div class="container">
         <article class="row">

            Te ofrecemos una total gestion de tu tiempo para que mejores tu productividad
         </article>
         <hr>
         <div class="row">
            <h3>Herramientas que ofrecemos</h3>
         </div>

         <section class="row">
            <div class="col-xs-6 col-sm- col-md-3">
               <p>
               <h4>Ingresar evento</h4>
               <img class="img-fluid" src="{{ url_for('static', filename='principal/img/anadirEvento.png') }}" alt="">
               <p class="mt-3">Registra un evento en tu horario y evita que los olvides!</p>
               </p>
            </div>
            <div class="col-xs-6 col-sm- col-md-3">
               <p>
               <h4>Modificar evento</h4>
               <img class="img-fluid" src="{{ url_for('static', filename='principal/img/modificarEvento.png') }}" alt="">
               <p class="mt-3">Modifica tus tareas en caso de algun evento inesperado </p>
               </p>
            </div>
            <div class="col-xs-6 col-sm- col-md-3">
               <p>
               <h4>Eliminar evento</h4>
               <img class="img-fluid" src="{{ url_for('static', filename='principal/img/eliminarEvento.png') }}" alt="">
               <p class="mt-3">Tu rutina a cambiado?, elimina esa tarea que ya no haces</p>
               </p>
            </div>
            <div class="col-xs-6 col-sm- col-md-3">
               <p>
               <h4>Disponibilidad</h4>

               <img class="img-fluid" src="{{ url_for('static', filename='principal/img/image4.jpg') }}" alt=""  width="140px">
               <p class="mt-3">Te ofrecemos una disponibilidad 24/7 de tu horario</p>
               </p>
            </div>
         </section>
      </div>
   </body>

</html>