<!DOCTYPE html>
<html lang="es">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='iniciarSesion/css/iniciarSesion.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">      
      <link href="{{ url_for('static', filename='vistaPrincipal/css/titulos.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
      <!-- App favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/icono.png') }}">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='registrarse/js/registrarse.js') }}"></script>
      <title>Registrarse</title>
   </head>

   <body>
      {% include 'barraNavegacion.html' %}
      <div class="login-page">
         <div class="form">
            <div class="login-form">
               <input id="inputNombreRegistro" type="text" placeholder="Nombre de Usuario" />
               <input id="inputContrasenaRegistro" type="password" placeholder="Contraseña" />
               <input id="inputEmailRegistro" type="text" placeholder="Correo electronico" />
               <button id="btnRegistrarse">Crear</button>
               <p class="message">Ya estas registrado? <a href="/iniciarSesion"> Iniciar Sesion</a></p>
            </div>
         </div>
      </div>
   </body>

</html>