<!DOCTYPE html>
<html lang="es">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vista Principal</title>
      <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
      <!-- App favicon -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/icono.png') }}">

      <!-- App css -->
      <link href="{{ url_for('static', filename='vistaPrincipal/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='vistaPrincipal/css/app.min.css') }}" rel="stylesheet" type="text/css" id="light-style" />
      <link href="{{ url_for('static', filename='vistaPrincipal/css/app-dark.min.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="{{ url_for('static', filename='vistaPrincipal/css/titulos.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
      <script src="{{ url_for('static', filename='vistaPrincipal/js/vistaPrincipal.js') }}"></script>
      <script src="{{ url_for('static', filename='vistaPrincipal/js/gestionFechas.js') }}"></script>
   </head>

   <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
      <!-- Begin page -->
      <div class="wrapper">
         <!-- ========== Left Sidebar Start ========== -->
         <div class="left-side-menu">
            <!-- LOGO -->
            <a href="#" class="logo text-center titulo">
               <span class="logo-lg">
                  <img src="{{ url_for('static', filename='img/calendario.png') }}" alt="" height="30"> GESTION DE MATERIAS
               </span>
               <span class="logo-sm">
                  <img src="{{ url_for('static', filename='img/calendario.png') }}" alt="" height="16"> GESTION DE MATERIAS
               </span>
            </a>

            <div class="h-100" id="left-side-menu-container" data-simplebar>

               <!--- Sidemenu -->
               <ul class="metismenu side-nav">

                  <li class="side-nav-title side-nav-item">App</li>

                  <li class="side-nav-item">
                     <a href="/vistaPrincipal" class="side-nav-link">
                        <i><img src="{{ url_for('static', filename='vistaPrincipal/img/calendario.svg') }}" alt="" height="20"></i>
                        <span> Calendario </span>
                     </a>
                  </li>

                  <li class="side-nav-item">
                     <a href="#" class="side-nav-link">
                        <i><img src="{{ url_for('static', filename='vistaPrincipal/img/tareas.svg') }}" alt="" height="20"></i>
                        <span> Tareas </span>
                        <span class="menu-arrow"></span>
                     </a>
                     <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                           <a href="#">Lista</a>
                        </li>
                        <li>
                           <a href="#">Detalles</a>
                        </li>
                     </ul>
                  </li>


               </ul>
               <!-- End Sidebar -->

               <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

         </div>
         <!-- Left Sidebar End -->

         <!-- ============================================================== -->
         <!-- Start Page Content here -->
         <!-- ============================================================== -->

         <div class="content-page">
            <div class="content">
               <!-- Topbar Start -->
               <div class="navbar-custom">
                  <ul class="list-unstyled topbar-right-menu float-right mb-0">
                     <li class="dropdown notification-list d-lg-none">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                           <i class="dripicons-search noti-icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                           <form class="p-3">
                              <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                           </form>
                        </div>
                     </li>

                     <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                           <i class="noti-icon"><img src="{{ url_for('static', filename='vistaPrincipal/img/notificacion.svg') }}" alt="" height="20"></i>

                           <span class="noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                           <!-- item-->
                           <div class="dropdown-item noti-title">
                              <h5 class="m-0">
                                 <span class="float-right">
                                    <a href="javascript: void(0);" class="text-dark">
                                       <small>Eliminar todo</small>
                                    </a>
                                 </span>Notificaciones
                              </h5>
                           </div>

                           <div style="max-height: 230px;" data-simplebar>
                              <!-- item-->
                              <a href="javascript:void(0);" class="dropdown-item notify-item">
                                 <div class="notify-icon bg-primary">
                                    <i class="mdi mdi-comment-account-outline"></i>
                                 </div>
                                 <p class="notify-details">Siguiente clase
                                    <small class="text-muted">Hace 1 minuto</small>
                                 </p>
                              </a>

                              <!-- item-->
                              <a href="javascript:void(0);" class="dropdown-item notify-item">
                                 <div class="notify-icon bg-info">
                                    <i class="mdi mdi-account-plus"></i>
                                 </div>
                                 <p class="notify-details">Nuevo usuario registrado.
                                    <small class="text-muted">Hace 5 horas</small>
                                 </p>
                              </a>

                           </div>

                           <!-- All-->
                           <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                              Ver todo
                           </a>

                        </div>
                     </li>

                     <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                           <span class="account-user-avatar">
                              <img src="{{ url_for('static', filename='vistaPrincipal/img/avatarHombre.png') }}" alt="user-image" class="rounded-circle">
                           </span>
                           <span>
                              <span class="account-user-name">Juandita Rincon</span>
                              <span class="account-position">Estudiante</span>
                           </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                           <!-- item-->
                           <div class=" dropdown-header noti-title">
                              <h6 class="text-overflow m-0">Bienvenido !</h6>
                           </div>

                           <!-- item-->
                           <a href="#" class="dropdown-item notify-item">
                              <i class="mdi  mr-1"><img src="{{ url_for('static', filename='vistaPrincipal/img/miCuenta.svg') }}" alt="" height="13"></i>
                              <span>Mi Cuenta</span>
                           </a>

                           <!-- item-->
                           <a href="#" class="dropdown-item notify-item">
                              <i class="mdi mr-1"><img src="{{ url_for('static', filename='vistaPrincipal/img/ayuda.svg') }}" alt="" height="13"></i>
                              <span>Ayuda</span>
                           </a>

                           <!-- item-->
                           <a href="/" class="dropdown-item notify-item">
                              <i class="mdi mr-1"><img src="{{ url_for('static', filename='vistaPrincipal/img/salir.svg') }}" alt="" height="13"></i>
                              <span>Cerrar Sesion</span>
                           </a>

                        </div>
                     </li>

                  </ul>
                  <button class="button-menu-mobile open-left disable-btn">
                     <i class="mdi mdi-menu"></i>
                  </button>
                  <div class="app-search dropdown d-none d-lg-block">
                     <form>
                        <div class="input-group">
                           <input type="text" class="form-control dropdown-toggle" placeholder="Buscar..." id="top-search">
                           <span class="mdi search-icon"><img src="{{ url_for('static', filename='vistaPrincipal/img/buscar.svg') }}" alt="" height="20"></span>
                           <div class="input-group-append">
                              <button class="btn btn-primary" type="submit">Buscar</button>
                           </div>
                        </div>

                     </form>

                     <div class="dropdown-menu dropdown-menu-animated dropdown-lg" id="search-dropdown">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                           <h5 class="text-overflow mb-2">Se encontraron <span class="text-danger">2</span> resultados
                           </h5>
                        </div>

                        <!-- item-->
                        <div class="dropdown-header noti-title">
                           <h6 class="text-overflow mb-2 text-uppercase">Usuarios</h6>
                        </div>

                        <div class="notification-list">
                           <!-- item-->
                           <a href="javascript:void(0);" class="dropdown-item notify-item">
                              <div class="media">
                                 <img class="d-flex mr-2 rounded-circle" src="{{ url_for('static', filename='vistaPrincipal/img/avatarHombre.png') }}" alt="Generic placeholder image" height="32">
                                 <div class="media-body">
                                    <h5 class="m-0 font-14">Messi Perez</h5>
                                    <span class="font-12 mb-0">Ingeniero</span>
                                 </div>
                              </div>
                           </a>

                           <!-- item-->
                           <a href="javascript:void(0);" class="dropdown-item notify-item">
                              <div class="media">
                                 <img class="d-flex mr-2 rounded-circle" src="{{ url_for('static', filename='vistaPrincipal/img/avatarHombre.png') }}" alt="Generic placeholder image" height="32">
                                 <div class="media-body">
                                    <h5 class="m-0 font-14">Daniels Fernandez</h5>
                                    <span class="font-12 mb-0">Estudiante</span>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- end Topbar -->

               <!-- Start Content-->
               <div class="container-fluid">

                  <!-- start page title -->
                  <div class="row">
                     <div class="col-12">
                        <div class="page-title-box">
                           <h4 class="page-title">Calendario</h4>
                        </div>
                     </div>
                  </div>
                  <!-- end page title -->

                  <div class="row">
                     <div class="col-12">

                        <div class="card">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-4">
                                    <a href="#" data-toggle="modal" data-target="#anadirEvento" class="btn btn-lg font-16 btn-info btn-block  ">
                                       <i class="mdi"><img src="{{ url_for('static', filename='vistaPrincipal/img/nuevo.png') }}" alt=""></i> Crear Evento
                                    </a>
                                 </div>
                                 <div class="col-lg-4">
                                    <a href="#" data-toggle="modal" data-target="#modificarEvento" class="btn btn-lg font-16 btn-success btn-block  ">
                                       <i class="mdi"><img src="{{ url_for('static', filename='vistaPrincipal/img/modificarEvento.png') }}" alt=""></i> Modificar Evento
                                    </a>
                                 </div>
                                 <div class="col-lg-4">
                                    <a href="#" data-toggle="modal" data-target="#eliminarEvento" class="btn btn-lg font-16 btn-danger btn-block  ">
                                       <i class="mdi"><img src="{{ url_for('static', filename='vistaPrincipal/img/eliminarEvento.png') }}" alt=""></i> Eliminar Evento
                                    </a>
                                 </div> <!-- end row -->
                              </div> <!-- end card body-->
                           </div> <!-- end card -->
                           <!--Horario -->
                           <div class="row">
                              <div class="col-lg-4">

                                 <button id="btnMesAnterior" class="btn btn-light">Atras</button>
                              </div>
                              <div class="col-lg-4">

                                 <h3 id="mesActual"> MES ACTUAL </h3>
                              </div>
                              <div class="col-lg-4">

                                 <button id="btnMesSiguiente" class="btn btn-light ">Siguiente</button>
                              </div>
                           </div>
                           <div class="row col-lg-12">
                              <table class="table table-sm table-bordered text-center">
                                 <tr>
                                    <th class="colum">Lunes</th>
                                    <th class="colum">Martes</th>
                                    <th class="colum">Miercoles</th>
                                    <th class="colum">Jueves</th>
                                    <th class="colum">Viernes</th>
                                    <th class="colum">Sabado</th>
                                    <th class="colum">Domingo</th>
                                 </tr>
                                 <tr class="fila">
                                    {%for i in range(7)%}
                                    <td class="colum dia">
                                       <div class="container-fluid">
                                          <div class="row">
                                             <div class="numero diaPrimeraCol col col-md-12 col-sm-12 col-lg-12">
                                                <span>**</span>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="eventos col col-md-12">
                                                <span></span>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                    {%endfor%}
                                 </tr>
                                 {% for i in range(5) %}
                                 <tr class="fila">
                                    {%for i in range(7)%}
                                    <td class="colum dia">
                                       <div class="container-fluid">
                                          <div class="row">
                                             <div class="numero diaMes col col-md-12 col-sm-12 col-lg-12">
                                                <span>**</span>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="eventos col col-md-12">
                                                <span></span>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                    {%endfor%}
                                 </tr>
                                 {% endfor %}
                              </table>
                              <!-- Horario section end -->
                           </div>

                           <!-- Modal Añadir evento -->
                           <div class="modal fade" id="anadirEvento" tabindex="-1">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header border-bottom-0 d-block">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                       <h4 class="modal-title">Agregar evento</h4>
                                    </div>
                                    <div class="modal-body p-4">
                                       <form>
                                          <div class="form-group">
                                             <label class="control-label">Nombre del evento</label>
                                             <input id="inputNombreMateria" class="form-control form-white" placeholder="Digite el nombre del evento" type="text" name="category-name" />

                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Descripcion del evento</label>
                                             <input id="inputDescripcionMateria" class="form-control form-white" placeholder="Digite una breve descripcion del evento" type="text" />
                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Fecha inicio</label>
                                             <input id="datepickerInicio" width="276" />
                                             <script>
                                             $('#datepickerInicio').datepicker({
                                                uiLibrary: 'bootstrap4'
                                             });
                                             </script>
                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Hora inicio</label>
                                             <input id="timepickerInicio" width="276" />
                                             <script>
                                             $('#timepickerInicio').timepicker({
                                                uiLibrary: 'bootstrap4'
                                             });
                                             </script>
                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Fecha final</label>
                                             <input id="datepickerFinal" width="276" />
                                             <script>
                                             $('#datepickerFinal').datepicker({
                                                uiLibrary: 'bootstrap4'
                                             });
                                             </script>
                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Hora final</label>
                                             <input id="timepickerFinal" width="276" />
                                             <script>
                                             $('#timepickerFinal').timepicker({
                                                uiLibrary: 'bootstrap4'
                                             });
                                             </script>
                                          </div>

                                       </form>

                                       <div class="text-right">
                                          <button type="button" class="btn btn-light " data-dismiss="modal">Cerrar</button>
                                          <button id="btnAnadirEvento" type="button" class="btn btn-primary ml-1   save-category" data-dismiss="modal">Guardar</button>
                                       </div>

                                    </div> <!-- end modal-body-->
                                 </div> <!-- end modal-content-->
                              </div> <!-- end modal dialog-->
                           </div>
                           <!-- end modal-->

                           <!-- Modal Eliminar Evento -->
                           <div class="modal fade" id="eliminarEvento" tabindex="-1">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header border-bottom-0 d-block">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                       <h4 class="modal-title">Eliminar evento</h4>
                                    </div>
                                    <div class="modal-body p-4">
                                       <form>
                                          <div class="form-group">
                                             <label class="control-label">Nombre del evento</label>
                                             <input id="inputNombreMateriaEliminar" class="form-control form-white" placeholder="Digite el nombre del evento" type="text" name="category-name" />

                                          </div>

                                       </form>

                                       <div class="text-right">
                                          <button type="button" class="btn btn-light " data-dismiss="modal">Cerrar</button>
                                          <button id="btnEliminarEvento" type="button" class="btn btn-primary ml-1   save-category" data-dismiss="modal">Eliminar</button>
                                       </div>

                                    </div> <!-- end modal-body-->
                                 </div> <!-- end modal-content-->
                              </div> <!-- end modal dialog-->
                           </div>
                           <!-- end modal-->
                           <!-- Modal Añadir evento -->
                           <div class="modal fade" id="modificarEvento" tabindex="-1">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header border-bottom-0 d-block">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                       <h4 class="modal-title">Modificar evento</h4>
                                    </div>
                                    <div class="modal-body p-4">
                                       <form>
                                          <div class="form-group">
                                             <label class="control-label">Nombre del evento</label>
                                             <input id="inputNombreMateria" class="form-control form-white" placeholder="Digite el nombre del evento" type="text" name="category-name" />

                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Hora de inicio</label>
                                             <input id="inputHoraInicio" class="form-control form-white" placeholder="Digite la hora en que inicia este evento" type="text" />
                                          </div>
                                          <div class="form-group">
                                             <label class="control-label">Hora de finalizacion</label>
                                             <input id="inputHoraFinal" class="form-control form-white" placeholder="Digite la hora en que finaliza la materia" type="text" />
                                          </div>
                                       </form>
                                       <div class="text-right">
                                          <button type="button" class="btn btn-light " data-dismiss="modal">Cerrar</button>
                                          <button id="btnModificarEvento" type="button" class="btn btn-primary ml-1   save-category" data-dismiss="modal">Modificar</button>
                                       </div>

                                    </div> <!-- end modal-body-->
                                 </div> <!-- end modal-content-->
                              </div> <!-- end modal dialog-->
                           </div>
                           <!-- end modal-->
                        </div> <!-- end row -->

                     </div> <!-- container -->

                  </div> <!-- content -->

                  <!-- Footer Start -->
                  <footer class="footer">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-6">
                              2020 - 2020 © Estudiantes UD
                           </div>
                           <div class="col-md-6">
                              <div class="text-md-right footer-links d-none d-md-block">
                                 <a href="https://www.instagram.com/juanchom_1224/">Sobre Nosotros</a>
                                 <a href="https://www.asister.es/es/categoria-producto/ayudas-para-la-vida-diaria/">Ayuda</a>
                                 <a href="https://www.facebook.com/juandavid.montesmartinez">Contactanos</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </footer>
                  <!-- end Footer -->

               </div>

               <!-- ============================================================== -->
               <!-- End Page content -->
               <!-- ============================================================== -->


            </div>
            <!-- END wrapper -->

            <!-- bundle -->
            <script src="{{ url_for('static', filename='vistaPrincipal/js/vendor.min.js') }}"></script>
            <script src="{{ url_for('static', filename='vistaPrincipal/js/app.min.js') }}"></script>

            <!-- third party js -->
            <script src="{{ url_for('static', filename='vistaPrincipal/js/jquery-ui.min.js') }}"></script>
            <!-- third party js ends -->

</html>